<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Matt Swain</string>
	<key>Builder Version</key>
	<string>10601.1.56.2</string>
	<key>CFBundleDisplayName</key>
	<string>AnySearch</string>
	<key>CFBundleIdentifier</key>
	<string>com.matt-swain.anysearch</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.2</string>
	<key>CFBundleVersion</key>
	<string>1.1.2</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Menus</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>anysearchMenu</string>
				<key>Menu Items</key>
				<array>
					<dict>
						<key>Command</key>
						<string>error</string>
						<key>Identifier</key>
						<string>error</string>
						<key>Title</key>
						<string>Could not load AnySearch search engine list</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>anysearchButton</string>
				<key>Image</key>
				<string>toolbar.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>AnySearch</string>
				<key>Menu</key>
				<string>anysearchMenu</string>
				<key>Palette Label</key>
				<string>AnySearch</string>
				<key>Tool Tip</key>
				<string>AnySearch</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Use a custom search engine in the Safari address bar, or disable searches completely</string>
	<key>DeveloperIdentifier</key>
	<string>D4EFHA5V49</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>None</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://assets.matt-swain.com/extensions/anysearch.plist</string>
	<key>Website</key>
	<string>http://matt-swain.com/extensions</string>
</dict>
</plist>
