<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>version</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>http://www.google.com/search?q=@@@</string>
		<key>Key</key>
		<string>engine</string>
		<key>Title</key>
		<string>Search Engine</string>
		<key>Titles</key>
		<array>
			<string>Disable Search</string>
			<string>Google</string>
			<string>Yahoo!</string>
			<string>Bing</string>
			<string>DuckDuckGo</string>
			<string>Baidu</string>
			<string>Blekko</string>
			<string>Ask</string>
			<string>Dogpile</string>
			<string>Wikipedia</string>
			<string>Amazon</string>
			<string>Facebook</string>
			<string>Google Images</string>
			<string>Google Maps</string>
			<string>IMDb</string>
			<string>Reddit</string>
			<string>YouTube</string>
			<string>Custom (use text field below)</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>disable</string>
			<string>http://www.google.com/search?q=@@@</string>
			<string>http://search.yahoo.com/search?p=@@@</string>
			<string>http://www.bing.com/search?q=@@@</string>
			<string>https://duckduckgo.com/?q=@@@</string>
			<string>http://www.baidu.com/s?wd=@@@</string>
			<string>https://blekko.com/ws/?q=@@@</string>
			<string>http://ask.com/web?q=@@@</string>
			<string>http://www.dogpile.com/search/web?q=@@@</string>
			<string>https://en.wikipedia.org/w/index.php?search=@@@</string>
			<string>http://www.amazon.com/s/ref=nb_sb_noss?field-keywords=@@@&amp;url=search-alias%3Daps&amp;tag=moxt-20</string>
			<string>https://www.facebook.com/search.php?q=@@@</string>
			<string>http://www.google.com/images?q=@@@</string>
			<string>http://maps.google.com/maps?q=@@@</string>
			<string>http://www.imdb.com/find?s=all&amp;q=@@@</string>
			<string>http://www.reddit.com/search?q=@@@</string>
			<string>http://www.youtube.com/results?search_query=@@@</string>
			<string>custom</string>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>customEngine</string>
		<key>Title</key>
		<string>Custom Search Engine</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string> e.g. http://example.com/search?q=@@@</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict/>
</array>
</plist>
